@import "tinyjs/variables";
@import "tinyjs/typography";
@import "tinyjs/components";
@import "tinyjs/layout";

$border-color: #444;
body {
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    background-color: #eee;
    .container {
        #game canvas {
            margin: auto;
            margin-top: 10vh;
            box-shadow: 0 0 1px 1px rgba(50,50,50,0.1);
        }
    }
}
.page {
    margin-top: 2em;

}
.game {
    padding: 0;
    padding: 2em 2em;
}
.container {
    max-width: 70em;
    width: 69em;
}
.card .heading {

    padding: 1em;
    border-bottom: 1px solid #ccc;
    background-color: #0159A2;
    color: white;
    h1 {
        font-weight: 400;
    }

    p.description {
        color: #eee;
    }

}
.card .split {
    .right {
        width: 10em;
        padding: 0em;

    }
    .left {
        width: 59em;
        .ui {
            background: #eee;
            padding: 1em;
            button.share {
                font-size: 1em;

            }

        }
    }
}
table {
    font-size: 0.9em;
    margin: auto;

    border-collapse: collapse;
    ///width: 100%;
    tr {
        td {
            position: relative;
            box-sizing: border-box;
            width: 2em;
            height: 2em;
            overflow: hidden;
            text-align: center;
            //border:1px solid transparent;
            padding-top: 0.4em;
            .ball{
                box-sizing: border-box;
                z-index: 3;
                position: relative;
                display: inline-block;
                height: 1em;
                width: 1em;
                border-radius: 50%;
                background: red;
                border: 1px solid blue;
                &.green {
                        background: green;
                }

            }
            &.green {

                &::before {
                    content: "";
                    width: 0em;
                    height: 0em;
                    padding:0.5em;
                    border-radius: 2em;
                    overflow: visible;
                    background-color: rgba(120,200,120,1);
                    float: left;
                    position: absolute;
                    top:0.4em;
                    left:0.4em;
                }
            }

        }
    }
    tr {
        td.wall {
            padding: 0em;
            background-color: $border-color;



        }
        td.joint {
        padding: 0em;

        }

    }
    .maze-creating {
        tr {
            td.wall {
                cursor: pointer;
                &.vertical {
                    width: 0.5em;
                }
                &.horizontal {
                    height: 0.5em;
                }
                &:hover {
                    background-color: red;
                }
                &.inactive {
                    background-color: #eee;
                    &:hover {
                        background-color: green;
                    }
                }
            }
            td.joint {
                height: 0.5em;
                width: 0.5em;
                background-color: #444;

            }
        }
    }
    .maze-playing {
        tr {


            td.wall {
                &.vertical {
                    width: 4px;
                }
                &.horizontal {
                    height: 4px;
                }

                &.inactive {
                    background-color: transparent;
                }
            }
            td.joint {
                height: 4px;
                width: 4px;
                background-color: #111;

            }
        }
    }

}
.info-cell {
    text-align: center;
    .value {
        font-size:1.2em;

        font-weight: bold;
        &.blue {
            color:#0159A2;
        }
        .subtext {
            font-size: 0.7em;
            font-weight: normal;
            color: #111;
            font-style: italic;
        }

    }
    .type {
        margin-top: 0.5em;
        font-weight: bold;
        color: #777;
    }
    border-bottom: 1px solid #ddd;
    padding: 1em;
    &.green:hover {
        cursor: pointer;
        color: white;
        background-color: $button-color-green;
        i {
            color: white;
        }
        .type {
            margin-top: 0.5em;
            font-weight: bold;
            color: #eee;
        }
    }
    &.disabled:hover {
        cursor: pointer;
        color: white;
        background-color: #eee;
    }
    .inactive-only {
        display: none;
    }
    .active-only {
        display: inline-block;
    }
    &.inactive {
        .active-only {
            display: none;
        }
        .inactive-only {
            display: inline-block;
        }
    }
}
.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.8);
}
.popup {
    z-index:11;

    position:fixed;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .box {
        margin: auto;
        position: relative;
        top: -10em;
        background-color: white;
        border: 1px solid #aaa;
        max-width:70em;
        min-width: 30em;
        border-radius: 2px;
        .heading {
            padding: 0.7em;
            display: flex;

            color: white;
            background-color: $button-color-green;
            h4 {
                font-size: 1.3em;
                width: 90%;
            }
            span.close {
                width: 10%;
                text-align: right;
                //color: #d32f2f;
                font-size: 1.3em;
                i {
                    &:hover {
                        color: #ddd;
                        cursor: pointer;
                    }
                }
            }


        }

        .content {
            padding: 1.3em;
        }
        .subtext {
            padding: 1em;
            background-color: #eee;
            p {
                margin: 0;
                padding: 0;
            }
        }
        input.url {
            display: inline-block;
            border: 1px solid #aaa;
            color:#333;
            background-color: #fff;
            padding: 0.6em 0.8em 0.6em;
            border-radius: 3px;
            width: 30em;
            overflow: none;

        }
        button.input-addon {
            display: inline-block;
            border: 1px solid #aaa;
            padding: 0.6em 0.8em 0.6em;
            background-color: #eee;
            color: black;
            box-shadow: none;
            margin-left: 0.3em;
            &:hover {
                background-color: #ddd;
            }
        }
    }
}
.hidden {
    display: none;
}
.fix-height-1 {
    height: 1.2em;
    width: 100%;
    padding: 0.5em;
}
.message {
    i.success {
        color: #4CAF50;
    }

}
i.fail {
    color: $button-color-red;
}
